.document {
  width: 850px;
  height: 1100px;
  border: solid 1px darkgray;
  margin: 10px auto;
  background-color: white;
}

.document-content {
  margin: 80px;
  position: relative;
}

.document-para {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
}